.wrapper{
    display: flex;
    flex-flow: row wrap;
    /* flex-direction: row;
    flex-wrap: wrap; */
    text-align: center;
}

.wrapper > *{
    padding: 10px;
    margin: 10px;
    flex: 0 1 100%;
    /* flex-basis: 100%; */
    border-radius: 10px;
    background-color: antiquewhite;
}

.header{
    background-color: tomato;
    height: 120px;
}

.footer{
    background-color: lightgreen;
    height: 80px;
}

.main{
    text-align: left;
    background-color: deepskyblue;
    height: 300px;
    font-size: 24px;
}

.aside1{
    background-color: gold;
}
    
.aside2{
    background: hotpink;
}

@media all and (min-width: 800px) {
    .main{
        flex: 3;
    }
    .aside1{
        order: 1;
    }
    .aside2{
        order: 2;
    }
    .main{
        order: 2;
    }
    .footer{
        order: 3;
    }
}

@media all and (min-width: 600px){
    .aside{
        flex: 1;
    }
}